extensions/http/src/test/resources/basic-http-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
      http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd">
    
    <httpn:requester-config name="reqConfig" host="localhost" protocol="HTTP" port="${clientPort}">
        <httpn:requester-connection/>
    </httpn:requester-config>
    
    <flow name="client">
        <httpn:request path="/" config-ref="reqConfig">
            <httpn:request-builder>
                <httpn:query-params>
                    <httpn:query-param key="query" value="#['param']" />
                </httpn:query-params>
            </httpn:request-builder>
        </httpn:request>
    </flow>

    <!--<flow name="server">-->
        <!--<http-ext:listener responseStreamingMode="AUTO" path="test" allowedMethods="GET" parseRequest="true" config-ref="lisConfig"/>-->
        <!--<set-payload value="HEY"/>-->
    <!--</flow>-->

</mule>